<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
		<link href="/assets/css/stylesheet.css" rel="stylesheet">
		<link href="/assets/css/highlight.css" rel="stylesheet">
		<link href="/assets/css/markdown.css" rel="stylesheet">

		<title>The CerusJS site!</title>
	</head>
	<body>
		<div class="sidebar closed">
	<div class="header">
		<div class="logo">
			<img src="/assets/gfx/logo.png" onclick="sidebar().index()">
		</div>
	</div>
	<div class="links">
		<div id="home-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('home')">
				home				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/home/readme.html">Readme</a></li>
				<li><a class= "" href="/views/home/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
		<div id="cerus-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus')">
				cerus				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-core-item" class="item opened">
			<div class="item-title" onclick="sidebar().item('cerus-core')">
				cerus-core				<i class="fas fa-minus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-core/readme.html">Readme</a></li>
				<li><a class= "selected" href="/views/cerus-core/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-core/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-server-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-server')">
				cerus-server				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-server/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-server/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-server/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-router-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-router')">
				cerus-router				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-router/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-router/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-router/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-api-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-api')">
				cerus-api				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-api/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-api/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-api/reference.html">Reference</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="overlay closed" onclick="sidebar().toggle()"></div>
		<div class="content closed">
			<div class="title">
	<div class="left">
		<div class="item" onclick="sidebar().toggle()"><i class="fas fa-bars"></i></div>
	</div>
	<div class="right">
				<div class="item" onclick="title_().github()"><i class="fab fa-github"></i></div>
		<div class="item" onclick="title_().mail()"><i class="fas fa-at"></i></div>
	</div>
</div>
			<div class="inner">
				<div class="markdown-body">
	<h1 id="changelog">Changelog</h1>
<h2 id="v0-1-1-3-feb-2018-">v0.1.1 (3 Feb. 2018)</h2>
<ul>
<li>(Enh) Even though init_ is deprecated usage is still allowed for now.</li>
</ul>
<h2 id="v0-1-0-31-dec-2017-">v0.1.0 (31 Dec. 2017)</h2>
<ul>
<li>(New) Redid the whole module.</li>
<li>(New) Added some unit tests.</li>
<li>(Enh) Started adding documentation.</li>
<li>(Fix) Fixed a few small issues.</li>
</ul>
<h2 id="v0-0-2-2-nov-2017-">v0.0.2 (2 Nov. 2017)</h2>
<ul>
<li>(New) You can now add dependencies to a plugin with the dependencies key.</li>
</ul>
<h2 id="v0-0-1-2-nov-2017-">v0.0.1 (2 Nov. 2017)</h2>
<ul>
<li>(New) Created the module.</li>
<li>(New) Added the package.json.</li>
<li>(New) Added the exit and use functions.</li>
<li>(New) Added the .gitignore.</li>
</ul>

</div>
			</div>
		</div>
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</body>
</html>