<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
		<link href="/assets/css/stylesheet.css" rel="stylesheet">
		<link href="/assets/css/highlight.css" rel="stylesheet">
		<link href="/assets/css/markdown.css" rel="stylesheet">

		<title>The CerusJS site!</title>
	</head>
	<body>
		<div class="sidebar closed">
	<div class="header">
		<div class="logo">
			<img src="/assets/gfx/logo.png" onclick="sidebar().index()">
		</div>
	</div>
	<div class="links">
		<div id="home-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('home')">
				home				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/home/readme.html">Readme</a></li>
				<li><a class= "" href="/views/home/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
		<div id="cerus-item" class="item opened">
			<div class="item-title" onclick="sidebar().item('cerus')">
				cerus				<i class="fas fa-minus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus/changelog.html">Changelog</a></li>
				<li><a class= "selected" href="/views/cerus/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-core-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-core')">
				cerus-core				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-core/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-core/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-core/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-server-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-server')">
				cerus-server				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-server/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-server/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-server/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-router-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-router')">
				cerus-router				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-router/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-router/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-router/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-api-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-api')">
				cerus-api				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-api/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-api/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-api/reference.html">Reference</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="overlay closed" onclick="sidebar().toggle()"></div>
		<div class="content closed">
			<div class="title">
	<div class="left">
		<div class="item" onclick="sidebar().toggle()"><i class="fas fa-bars"></i></div>
	</div>
	<div class="right">
				<select class="list" onchange="title_('source', 'cerus').open(this)">
						<option value="autoroute.js.html" selected>autoroute.js</option>
						<option value="folders.js.html" undefined>folders.js</option>
						<option value="cerus.js.html" undefined>cerus.js</option>
						<option value="require.js.html" undefined>require.js</option>
						<option value="folders.js.html" undefined>folders.js</option>
					</select>
				<div class="item" onclick="title_().github()"><i class="fab fa-github"></i></div>
		<div class="item" onclick="title_().mail()"><i class="fas fa-at"></i></div>
	</div>
</div>
			<div class="inner">
				<div class="source">
	<h1>autoroute.js</h1>
	<div class="lines">
					<div class="line" id="line1">
				<div class="number">1.</div>
				<pre class="content"><span class="hljs-keyword">var</span> folders = <span class="hljs-built_in">require</span>(<span class="hljs-string">"./autoroute/folders"</span>);</pre>
			</div>
					<div class="line" id="line2">
				<div class="number">2.</div>
				<pre class="content"><span class="hljs-keyword">var</span> path_ = <span class="hljs-built_in">require</span>(<span class="hljs-string">"path"</span>);</pre>
			</div>
					<div class="line" id="line3">
				<div class="number">3.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line4">
				<div class="number">4.</div>
				<pre class="content"><span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line5">
				<div class="number">5.</div>
				<pre class="content"><span class="hljs-comment"> * This is the autoroute class. It is used to easily route views, assets and your favicon. If you </span></pre>
			</div>
					<div class="line" id="line6">
				<div class="number">6.</div>
				<pre class="content"><span class="hljs-comment"> * don't know what these look at each of the functions or at the tutorials for this class.</span></pre>
			</div>
					<div class="line" id="line7">
				<div class="number">7.</div>
				<pre class="content"><span class="hljs-comment"> * @class autoroute</span></pre>
			</div>
					<div class="line" id="line8">
				<div class="number">8.</div>
				<pre class="content"><span class="hljs-comment"> */</span></pre>
			</div>
					<div class="line" id="line9">
				<div class="number">9.</div>
				<pre class="content"><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">autoroute</span> </span>{</pre>
			</div>
					<div class="line" id="line10">
				<div class="number">10.</div>
				<pre class="content">	<span class="hljs-keyword">constructor</span>(cerus) {</pre>
			</div>
					<div class="line" id="line11">
				<div class="number">11.</div>
				<pre class="content">		<span class="hljs-keyword">this</span>.name = <span class="hljs-string">"cerus-autoroute"</span>;</pre>
			</div>
					<div class="line" id="line12">
				<div class="number">12.</div>
				<pre class="content">		<span class="hljs-keyword">this</span>.version = <span class="hljs-string">"0.1.0"</span>;</pre>
			</div>
					<div class="line" id="line13">
				<div class="number">13.</div>
				<pre class="content">		<span class="hljs-keyword">this</span>._folders = <span class="hljs-keyword">new</span> folders();</pre>
			</div>
					<div class="line" id="line14">
				<div class="number">14.</div>
				<pre class="content">		<span class="hljs-keyword">this</span>._cerus = cerus;</pre>
			</div>
					<div class="line" id="line15">
				<div class="number">15.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line16">
				<div class="number">16.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line17">
				<div class="number">17.</div>
				<pre class="content">	<span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line18">
				<div class="number">18.</div>
				<pre class="content"><span class="hljs-comment">	 * This function will return the folders class for this module. With it you can change the </span></pre>
			</div>
					<div class="line" id="line19">
				<div class="number">19.</div>
				<pre class="content"><span class="hljs-comment">	 * folders the views and assets should be stored in.</span></pre>
			</div>
					<div class="line" id="line20">
				<div class="number">20.</div>
				<pre class="content"><span class="hljs-comment">	 * @summary Returns the folders class.</span></pre>
			</div>
					<div class="line" id="line21">
				<div class="number">21.</div>
				<pre class="content"><span class="hljs-comment">	 * @return {Class} The folders class.</span></pre>
			</div>
					<div class="line" id="line22">
				<div class="number">22.</div>
				<pre class="content"><span class="hljs-comment">	 * @function folders</span></pre>
			</div>
					<div class="line" id="line23">
				<div class="number">23.</div>
				<pre class="content"><span class="hljs-comment">	 */</span></pre>
			</div>
					<div class="line" id="line24">
				<div class="number">24.</div>
				<pre class="content">	folders() {</pre>
			</div>
					<div class="line" id="line25">
				<div class="number">25.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> folders;</pre>
			</div>
					<div class="line" id="line26">
				<div class="number">26.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line27">
				<div class="number">27.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line28">
				<div class="number">28.</div>
				<pre class="content">	<span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line29">
				<div class="number">29.</div>
				<pre class="content"><span class="hljs-comment">	 * With the favicon function you can easily route the favicon of your site. If you don't know </span></pre>
			</div>
					<div class="line" id="line30">
				<div class="number">30.</div>
				<pre class="content"><span class="hljs-comment">	 * what a favicon is: it is the image that a browser will request to use as icon. There is no </span></pre>
			</div>
					<div class="line" id="line31">
				<div class="number">31.</div>
				<pre class="content"><span class="hljs-comment">	 * folder where the icon is meant to be stored. If the path isn't absolute it is just added </span></pre>
			</div>
					<div class="line" id="line32">
				<div class="number">32.</div>
				<pre class="content"><span class="hljs-comment">	 * after the root. If it is absolute it'll directly be used. Before usage the path is fixed. </span></pre>
			</div>
					<div class="line" id="line33">
				<div class="number">33.</div>
				<pre class="content"><span class="hljs-comment">	 * Meaning that all \\\\ are replaced with a / to support all platforms. When the file is </span></pre>
			</div>
					<div class="line" id="line34">
				<div class="number">34.</div>
				<pre class="content"><span class="hljs-comment">	 * loaded a file event will be called on the returned promise. This event will be supplied with</span></pre>
			</div>
					<div class="line" id="line35">
				<div class="number">35.</div>
				<pre class="content"><span class="hljs-comment">	 * the file object. When the favicon was requested there will be a request event, with as </span></pre>
			</div>
					<div class="line" id="line36">
				<div class="number">36.</div>
				<pre class="content"><span class="hljs-comment">	 * arguments the request and response objects.</span></pre>
			</div>
					<div class="line" id="line37">
				<div class="number">37.</div>
				<pre class="content"><span class="hljs-comment">	 * @example</span></pre>
			</div>
					<div class="line" id="line38">
				<div class="number">38.</div>
				<pre class="content"><span class="hljs-comment">	 * // with as project env "C:\\project\\example.js"</span></pre>
			</div>
					<div class="line" id="line39">
				<div class="number">39.</div>
				<pre class="content"><span class="hljs-comment">	 * cerus.autoroute().favicon("favicon.png");</span></pre>
			</div>
					<div class="line" id="line40">
				<div class="number">40.</div>
				<pre class="content"><span class="hljs-comment">	 * // -&gt; will load and route "C:/project/favicon.png" to "/favicon.ico"</span></pre>
			</div>
					<div class="line" id="line41">
				<div class="number">41.</div>
				<pre class="content"><span class="hljs-comment">	 * @summary Loads and routes the favicon.</span></pre>
			</div>
					<div class="line" id="line42">
				<div class="number">42.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {String} path The path to the icon.</span></pre>
			</div>
					<div class="line" id="line43">
				<div class="number">43.</div>
				<pre class="content"><span class="hljs-comment">	 * @return {Promise} This function will return a promise.</span></pre>
			</div>
					<div class="line" id="line44">
				<div class="number">44.</div>
				<pre class="content"><span class="hljs-comment">	 * @function favicon</span></pre>
			</div>
					<div class="line" id="line45">
				<div class="number">45.</div>
				<pre class="content"><span class="hljs-comment">	 */</span></pre>
			</div>
					<div class="line" id="line46">
				<div class="number">46.</div>
				<pre class="content">	favicon(path) {</pre>
			</div>
					<div class="line" id="line47">
				<div class="number">47.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> path !== <span class="hljs-string">"string"</span>) {</pre>
			</div>
					<div class="line" id="line48">
				<div class="number">48.</div>
				<pre class="content">			<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">TypeError</span>(<span class="hljs-string">"argument path must be a string"</span>);</pre>
			</div>
					<div class="line" id="line49">
				<div class="number">49.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line50">
				<div class="number">50.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line51">
				<div class="number">51.</div>
				<pre class="content">		<span class="hljs-comment">// Fix the url by replacing \\ with / to support all platforms</span></pre>
			</div>
					<div class="line" id="line52">
				<div class="number">52.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> _path = path.replace(<span class="hljs-regexp">/\\/g</span>,<span class="hljs-string">"/"</span>);</pre>
			</div>
					<div class="line" id="line53">
				<div class="number">53.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line54">
				<div class="number">54.</div>
				<pre class="content">		<span class="hljs-comment">// Append the root path if the path isn't absolute</span></pre>
			</div>
					<div class="line" id="line55">
				<div class="number">55.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(!path_.isAbsolute(path)) {</pre>
			</div>
					<div class="line" id="line56">
				<div class="number">56.</div>
				<pre class="content">			_path = <span class="hljs-keyword">this</span>._cerus.root() + _path;</pre>
			</div>
					<div class="line" id="line57">
				<div class="number">57.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line58">
				<div class="number">58.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line59">
				<div class="number">59.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>._cerus.promise(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">event</span>) </span>{</pre>
			</div>
					<div class="line" id="line60">
				<div class="number">60.</div>
				<pre class="content">			<span class="hljs-keyword">this</span>._cerus.file(_path).read()</pre>
			</div>
					<div class="line" id="line61">
				<div class="number">61.</div>
				<pre class="content">			.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">file</span>) </span>{</pre>
			</div>
					<div class="line" id="line62">
				<div class="number">62.</div>
				<pre class="content">				event(<span class="hljs-string">"file"</span>, file);</pre>
			</div>
					<div class="line" id="line63">
				<div class="number">63.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line64">
				<div class="number">64.</div>
				<pre class="content">				<span class="hljs-keyword">this</span>._cerus.router().get(<span class="hljs-string">"/favicon.ico"</span>)</pre>
			</div>
					<div class="line" id="line65">
				<div class="number">65.</div>
				<pre class="content">				.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">req, res</span>) </span>{</pre>
			</div>
					<div class="line" id="line66">
				<div class="number">66.</div>
				<pre class="content">					event(<span class="hljs-string">"request"</span>, req, res);</pre>
			</div>
					<div class="line" id="line67">
				<div class="number">67.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line68">
				<div class="number">68.</div>
				<pre class="content">					res.file(file);</pre>
			</div>
					<div class="line" id="line69">
				<div class="number">69.</div>
				<pre class="content">				});</pre>
			</div>
					<div class="line" id="line70">
				<div class="number">70.</div>
				<pre class="content">			}.bind(<span class="hljs-keyword">this</span>))</pre>
			</div>
					<div class="line" id="line71">
				<div class="number">71.</div>
				<pre class="content">			.catch(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">err</span>) </span>{</pre>
			</div>
					<div class="line" id="line72">
				<div class="number">72.</div>
				<pre class="content">				event(<span class="hljs-string">"error"</span>, err);</pre>
			</div>
					<div class="line" id="line73">
				<div class="number">73.</div>
				<pre class="content">			});</pre>
			</div>
					<div class="line" id="line74">
				<div class="number">74.</div>
				<pre class="content">		}.bind(<span class="hljs-keyword">this</span>));</pre>
			</div>
					<div class="line" id="line75">
				<div class="number">75.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line76">
				<div class="number">76.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line77">
				<div class="number">77.</div>
				<pre class="content">	<span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line78">
				<div class="number">78.</div>
				<pre class="content"><span class="hljs-comment">	 * This function is used to easily route a view. This is often a .html file, but can be </span></pre>
			</div>
					<div class="line" id="line79">
				<div class="number">79.</div>
				<pre class="content"><span class="hljs-comment">	 * generalized as a markup file. If you want to learn more about views, please read the </span></pre>
			</div>
					<div class="line" id="line80">
				<div class="number">80.</div>
				<pre class="content"><span class="hljs-comment">	 * tutorial about it. By default views are stored in the views folder. You can change this with</span></pre>
			</div>
					<div class="line" id="line81">
				<div class="number">81.</div>
				<pre class="content"><span class="hljs-comment">	 * the .folders().views() function or by using an absolute path. When your path isn't absolute</span></pre>
			</div>
					<div class="line" id="line82">
				<div class="number">82.</div>
				<pre class="content"><span class="hljs-comment">	 * it is prefixed by the root and the views folder. If it is absolute the specified path won't</span></pre>
			</div>
					<div class="line" id="line83">
				<div class="number">83.</div>
				<pre class="content"><span class="hljs-comment">	 * be prefixed. All paths do however get fixed, all \\ are changed to a / to support all </span></pre>
			</div>
					<div class="line" id="line84">
				<div class="number">84.</div>
				<pre class="content"><span class="hljs-comment">	 * platforms. The files also get suffixed by default. The suffix can be removed or changed with</span></pre>
			</div>
					<div class="line" id="line85">
				<div class="number">85.</div>
				<pre class="content"><span class="hljs-comment">	 * the ext parameter. The view will be routed to specified url. The promise this function </span></pre>
			</div>
					<div class="line" id="line86">
				<div class="number">86.</div>
				<pre class="content"><span class="hljs-comment">	 * returns emits an file event the view was loaded, a request event when the view was requested</span></pre>
			</div>
					<div class="line" id="line87">
				<div class="number">87.</div>
				<pre class="content"><span class="hljs-comment">	 * and a finish event when the view has finished routing.</span></pre>
			</div>
					<div class="line" id="line88">
				<div class="number">88.</div>
				<pre class="content"><span class="hljs-comment">	 * @example</span></pre>
			</div>
					<div class="line" id="line89">
				<div class="number">89.</div>
				<pre class="content"><span class="hljs-comment">	 * // with as project env "C:\\project\\example.js"</span></pre>
			</div>
					<div class="line" id="line90">
				<div class="number">90.</div>
				<pre class="content"><span class="hljs-comment">	 * cerus.autoroute().view("/home", "example");</span></pre>
			</div>
					<div class="line" id="line91">
				<div class="number">91.</div>
				<pre class="content"><span class="hljs-comment">	 * // -&gt; will load and route "C:/project/views/example.html" to "/home"</span></pre>
			</div>
					<div class="line" id="line92">
				<div class="number">92.</div>
				<pre class="content"><span class="hljs-comment">	 * @summary Loads and routes a view.</span></pre>
			</div>
					<div class="line" id="line93">
				<div class="number">93.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {String} url The url the view will be routed to.</span></pre>
			</div>
					<div class="line" id="line94">
				<div class="number">94.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {String} filename The filename or path of the view.</span></pre>
			</div>
					<div class="line" id="line95">
				<div class="number">95.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {String} (ext = ".html") The extension of the view.</span></pre>
			</div>
					<div class="line" id="line96">
				<div class="number">96.</div>
				<pre class="content"><span class="hljs-comment">	 * @return {Promise} This function will return a promise.</span></pre>
			</div>
					<div class="line" id="line97">
				<div class="number">97.</div>
				<pre class="content"><span class="hljs-comment">	 * @function view</span></pre>
			</div>
					<div class="line" id="line98">
				<div class="number">98.</div>
				<pre class="content"><span class="hljs-comment">	 */</span></pre>
			</div>
					<div class="line" id="line99">
				<div class="number">99.</div>
				<pre class="content">	view(url, filename, ext = <span class="hljs-string">".html"</span>) {</pre>
			</div>
					<div class="line" id="line100">
				<div class="number">100.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> url !== <span class="hljs-string">"string"</span>) {</pre>
			</div>
					<div class="line" id="line101">
				<div class="number">101.</div>
				<pre class="content">			<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">TypeError</span>(<span class="hljs-string">"argument url must be a string"</span>);</pre>
			</div>
					<div class="line" id="line102">
				<div class="number">102.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line103">
				<div class="number">103.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> filename !== <span class="hljs-string">"string"</span>) {</pre>
			</div>
					<div class="line" id="line104">
				<div class="number">104.</div>
				<pre class="content">			<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">TypeError</span>(<span class="hljs-string">"argument filename must be a string"</span>);</pre>
			</div>
					<div class="line" id="line105">
				<div class="number">105.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line106">
				<div class="number">106.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line107">
				<div class="number">107.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> path = <span class="hljs-string">""</span>;</pre>
			</div>
					<div class="line" id="line108">
				<div class="number">108.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line109">
				<div class="number">109.</div>
				<pre class="content">		<span class="hljs-comment">// Fix the filename by replacing \\ with / to support all platforms</span></pre>
			</div>
					<div class="line" id="line110">
				<div class="number">110.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> filename_ = filename.replace(<span class="hljs-regexp">/\\/g</span>,<span class="hljs-string">"/"</span>);</pre>
			</div>
					<div class="line" id="line111">
				<div class="number">111.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line112">
				<div class="number">112.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(path_.isAbsolute(filename_)) {</pre>
			</div>
					<div class="line" id="line113">
				<div class="number">113.</div>
				<pre class="content">			path = filename_ + ext;</pre>
			</div>
					<div class="line" id="line114">
				<div class="number">114.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line115">
				<div class="number">115.</div>
				<pre class="content">		<span class="hljs-keyword">else</span> {</pre>
			</div>
					<div class="line" id="line116">
				<div class="number">116.</div>
				<pre class="content">			path = <span class="hljs-keyword">this</span>._cerus.root() + <span class="hljs-keyword">this</span>._folders._views + <span class="hljs-string">"/"</span> + filename_ + ext;</pre>
			</div>
					<div class="line" id="line117">
				<div class="number">117.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line118">
				<div class="number">118.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line119">
				<div class="number">119.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>._cerus.promise(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">event</span>) </span>{</pre>
			</div>
					<div class="line" id="line120">
				<div class="number">120.</div>
				<pre class="content">			<span class="hljs-keyword">this</span>._cerus.file(path).read()</pre>
			</div>
					<div class="line" id="line121">
				<div class="number">121.</div>
				<pre class="content">			.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">file</span>) </span>{</pre>
			</div>
					<div class="line" id="line122">
				<div class="number">122.</div>
				<pre class="content">				event(<span class="hljs-string">"file"</span>, file);</pre>
			</div>
					<div class="line" id="line123">
				<div class="number">123.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line124">
				<div class="number">124.</div>
				<pre class="content">				<span class="hljs-keyword">this</span>._cerus.router().get(url)</pre>
			</div>
					<div class="line" id="line125">
				<div class="number">125.</div>
				<pre class="content">				.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">req, res</span>) </span>{</pre>
			</div>
					<div class="line" id="line126">
				<div class="number">126.</div>
				<pre class="content">					event(<span class="hljs-string">"request"</span>, req, res);</pre>
			</div>
					<div class="line" id="line127">
				<div class="number">127.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line128">
				<div class="number">128.</div>
				<pre class="content">					res.file(file);</pre>
			</div>
					<div class="line" id="line129">
				<div class="number">129.</div>
				<pre class="content">				});</pre>
			</div>
					<div class="line" id="line130">
				<div class="number">130.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line131">
				<div class="number">131.</div>
				<pre class="content">				event(<span class="hljs-string">"finish"</span>);</pre>
			</div>
					<div class="line" id="line132">
				<div class="number">132.</div>
				<pre class="content">			}.bind(<span class="hljs-keyword">this</span>))</pre>
			</div>
					<div class="line" id="line133">
				<div class="number">133.</div>
				<pre class="content">			.catch(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">err</span>) </span>{</pre>
			</div>
					<div class="line" id="line134">
				<div class="number">134.</div>
				<pre class="content">				event(<span class="hljs-string">"error"</span>, err);</pre>
			</div>
					<div class="line" id="line135">
				<div class="number">135.</div>
				<pre class="content">			});</pre>
			</div>
					<div class="line" id="line136">
				<div class="number">136.</div>
				<pre class="content">		}.bind(<span class="hljs-keyword">this</span>));</pre>
			</div>
					<div class="line" id="line137">
				<div class="number">137.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line138">
				<div class="number">138.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line139">
				<div class="number">139.</div>
				<pre class="content">	<span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line140">
				<div class="number">140.</div>
				<pre class="content"><span class="hljs-comment">	 * With this function you can route assets. Assets are folders containing a certain type of </span></pre>
			</div>
					<div class="line" id="line141">
				<div class="number">141.</div>
				<pre class="content"><span class="hljs-comment">	 * "assets", e.g. stylesheets, scripts, images, etc. If you want to learn more about how to use</span></pre>
			</div>
					<div class="line" id="line142">
				<div class="number">142.</div>
				<pre class="content"><span class="hljs-comment">	 * assets take a look at the assets tutorial. By default all the assets are stored in the </span></pre>
			</div>
					<div class="line" id="line143">
				<div class="number">143.</div>
				<pre class="content"><span class="hljs-comment">	 * assets folder. You can change this folder with .folder().assets(). You can also use an </span></pre>
			</div>
					<div class="line" id="line144">
				<div class="number">144.</div>
				<pre class="content"><span class="hljs-comment">	 * absolute path. When using an absolute path the default prefix, the root and assets folder,</span></pre>
			</div>
					<div class="line" id="line145">
				<div class="number">145.</div>
				<pre class="content"><span class="hljs-comment">	 * won't be used. This path is also fixed, \\ is changed to /, before being used to support all</span></pre>
			</div>
					<div class="line" id="line146">
				<div class="number">146.</div>
				<pre class="content"><span class="hljs-comment">	 * the platforms. The assets will be routed to /{FOLDER}/{FILE}. You can also override the </span></pre>
			</div>
					<div class="line" id="line147">
				<div class="number">147.</div>
				<pre class="content"><span class="hljs-comment">	 * type that will be send with the request by using the type parameter. This function will a </span></pre>
			</div>
					<div class="line" id="line148">
				<div class="number">148.</div>
				<pre class="content"><span class="hljs-comment">	 * promise that emits the following events: file when a new file is loaded, request when a file</span></pre>
			</div>
					<div class="line" id="line149">
				<div class="number">149.</div>
				<pre class="content"><span class="hljs-comment">	 * has been requested and finish when all files in the folder are loaded and routed.</span></pre>
			</div>
					<div class="line" id="line150">
				<div class="number">150.</div>
				<pre class="content"><span class="hljs-comment">	 * @example</span></pre>
			</div>
					<div class="line" id="line151">
				<div class="number">151.</div>
				<pre class="content"><span class="hljs-comment">	 * // with as project env "C:\\project\\example.js" and folder "C:\\project\\assets\\css\\" containing two files:</span></pre>
			</div>
					<div class="line" id="line152">
				<div class="number">152.</div>
				<pre class="content"><span class="hljs-comment">	 * // "example1.css" and "example2.css"</span></pre>
			</div>
					<div class="line" id="line153">
				<div class="number">153.</div>
				<pre class="content"><span class="hljs-comment">	 * cerus.autoroute().assets("css");</span></pre>
			</div>
					<div class="line" id="line154">
				<div class="number">154.</div>
				<pre class="content"><span class="hljs-comment">	 * // -&gt; will load and route "example1.css" to "/css/example1.css" and "example2.css" to "/css/example2.css"</span></pre>
			</div>
					<div class="line" id="line155">
				<div class="number">155.</div>
				<pre class="content"><span class="hljs-comment">	 * @summary Loads and routes an assets folder.</span></pre>
			</div>
					<div class="line" id="line156">
				<div class="number">156.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {String} folder The assets folder that will be routed.</span></pre>
			</div>
					<div class="line" id="line157">
				<div class="number">157.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {String} (type) The type that will be used for the response.</span></pre>
			</div>
					<div class="line" id="line158">
				<div class="number">158.</div>
				<pre class="content"><span class="hljs-comment">	 * @return {Promise} This function will return a promise.</span></pre>
			</div>
					<div class="line" id="line159">
				<div class="number">159.</div>
				<pre class="content"><span class="hljs-comment">	 * @function assets</span></pre>
			</div>
					<div class="line" id="line160">
				<div class="number">160.</div>
				<pre class="content"><span class="hljs-comment">	 */</span></pre>
			</div>
					<div class="line" id="line161">
				<div class="number">161.</div>
				<pre class="content">	assets(folder, type) {</pre>
			</div>
					<div class="line" id="line162">
				<div class="number">162.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> folder !== <span class="hljs-string">"string"</span>) {</pre>
			</div>
					<div class="line" id="line163">
				<div class="number">163.</div>
				<pre class="content">			<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">TypeError</span>(<span class="hljs-string">"argument folder must be a string"</span>);</pre>
			</div>
					<div class="line" id="line164">
				<div class="number">164.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line165">
				<div class="number">165.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line166">
				<div class="number">166.</div>
				<pre class="content">		<span class="hljs-comment">// Fix the filename by replacing \\ with / to support all platforms</span></pre>
			</div>
					<div class="line" id="line167">
				<div class="number">167.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> folder_ = folder.replace(<span class="hljs-regexp">/\\/g</span>,<span class="hljs-string">"/"</span>);</pre>
			</div>
					<div class="line" id="line168">
				<div class="number">168.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line169">
				<div class="number">169.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> path = <span class="hljs-string">""</span>;</pre>
			</div>
					<div class="line" id="line170">
				<div class="number">170.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line171">
				<div class="number">171.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(path_.isAbsolute(folder_)) {</pre>
			</div>
					<div class="line" id="line172">
				<div class="number">172.</div>
				<pre class="content">			path = folder_ + <span class="hljs-string">"/"</span>;</pre>
			</div>
					<div class="line" id="line173">
				<div class="number">173.</div>
				<pre class="content">			folder_ = folder_.substring(folder_.lastIndexOf(<span class="hljs-keyword">this</span>._folders._assets) + <span class="hljs-keyword">this</span>._folders._assets.length, folder_.length);</pre>
			</div>
					<div class="line" id="line174">
				<div class="number">174.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line175">
				<div class="number">175.</div>
				<pre class="content">		<span class="hljs-keyword">else</span> {</pre>
			</div>
					<div class="line" id="line176">
				<div class="number">176.</div>
				<pre class="content">			path = <span class="hljs-keyword">this</span>._cerus.root() + <span class="hljs-keyword">this</span>._folders._assets + <span class="hljs-string">"/"</span> + folder_ + <span class="hljs-string">"/"</span>;</pre>
			</div>
					<div class="line" id="line177">
				<div class="number">177.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line178">
				<div class="number">178.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line179">
				<div class="number">179.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>._cerus.promise(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">event</span>) </span>{</pre>
			</div>
					<div class="line" id="line180">
				<div class="number">180.</div>
				<pre class="content">			<span class="hljs-keyword">this</span>._cerus.folder(path).files()</pre>
			</div>
					<div class="line" id="line181">
				<div class="number">181.</div>
				<pre class="content">			.on(<span class="hljs-string">"file"</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">file, last</span>) </span>{</pre>
			</div>
					<div class="line" id="line182">
				<div class="number">182.</div>
				<pre class="content">				file.read()</pre>
			</div>
					<div class="line" id="line183">
				<div class="number">183.</div>
				<pre class="content">				.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre>
			</div>
					<div class="line" id="line184">
				<div class="number">184.</div>
				<pre class="content">					event(<span class="hljs-string">"file"</span>, file);</pre>
			</div>
					<div class="line" id="line185">
				<div class="number">185.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line186">
				<div class="number">186.</div>
				<pre class="content">					<span class="hljs-keyword">this</span>._cerus.router().get(<span class="hljs-string">"/"</span> + folder_ + <span class="hljs-string">"/"</span> + file.name())</pre>
			</div>
					<div class="line" id="line187">
				<div class="number">187.</div>
				<pre class="content">					.then(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">req, res</span>) </span>{</pre>
			</div>
					<div class="line" id="line188">
				<div class="number">188.</div>
				<pre class="content">						event(<span class="hljs-string">"request"</span>, req, res);</pre>
			</div>
					<div class="line" id="line189">
				<div class="number">189.</div>
				<pre class="content">						</pre>
			</div>
					<div class="line" id="line190">
				<div class="number">190.</div>
				<pre class="content">						res.type(type || file.type());</pre>
			</div>
					<div class="line" id="line191">
				<div class="number">191.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line192">
				<div class="number">192.</div>
				<pre class="content">						<span class="hljs-keyword">if</span>(res.type().startsWith(<span class="hljs-string">"image"</span>)) {</pre>
			</div>
					<div class="line" id="line193">
				<div class="number">193.</div>
				<pre class="content">							res.send(file.data(), <span class="hljs-string">"binary"</span>);</pre>
			</div>
					<div class="line" id="line194">
				<div class="number">194.</div>
				<pre class="content">						}</pre>
			</div>
					<div class="line" id="line195">
				<div class="number">195.</div>
				<pre class="content">						<span class="hljs-keyword">else</span> {</pre>
			</div>
					<div class="line" id="line196">
				<div class="number">196.</div>
				<pre class="content">							res.file(file);</pre>
			</div>
					<div class="line" id="line197">
				<div class="number">197.</div>
				<pre class="content">						}</pre>
			</div>
					<div class="line" id="line198">
				<div class="number">198.</div>
				<pre class="content">					});</pre>
			</div>
					<div class="line" id="line199">
				<div class="number">199.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line200">
				<div class="number">200.</div>
				<pre class="content">					<span class="hljs-keyword">if</span>(last) {</pre>
			</div>
					<div class="line" id="line201">
				<div class="number">201.</div>
				<pre class="content">						event(<span class="hljs-string">"finish"</span>);</pre>
			</div>
					<div class="line" id="line202">
				<div class="number">202.</div>
				<pre class="content">					}</pre>
			</div>
					<div class="line" id="line203">
				<div class="number">203.</div>
				<pre class="content">				}.bind(<span class="hljs-keyword">this</span>))</pre>
			</div>
					<div class="line" id="line204">
				<div class="number">204.</div>
				<pre class="content">				.catch(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">err</span>) </span>{</pre>
			</div>
					<div class="line" id="line205">
				<div class="number">205.</div>
				<pre class="content">					event(<span class="hljs-string">"error"</span>, err);</pre>
			</div>
					<div class="line" id="line206">
				<div class="number">206.</div>
				<pre class="content">				});</pre>
			</div>
					<div class="line" id="line207">
				<div class="number">207.</div>
				<pre class="content">			}.bind(<span class="hljs-keyword">this</span>));</pre>
			</div>
					<div class="line" id="line208">
				<div class="number">208.</div>
				<pre class="content">		}.bind(<span class="hljs-keyword">this</span>));</pre>
			</div>
					<div class="line" id="line209">
				<div class="number">209.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line210">
				<div class="number">210.</div>
				<pre class="content">}</pre>
			</div>
					<div class="line" id="line211">
				<div class="number">211.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line212">
				<div class="number">212.</div>
				<pre class="content"><span class="hljs-built_in">module</span>.exports = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre>
			</div>
					<div class="line" id="line213">
				<div class="number">213.</div>
				<pre class="content">	<span class="hljs-keyword">var</span> plugin = {};</pre>
			</div>
					<div class="line" id="line214">
				<div class="number">214.</div>
				<pre class="content">	<span class="hljs-keyword">var</span> autoroute_;</pre>
			</div>
					<div class="line" id="line215">
				<div class="number">215.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line216">
				<div class="number">216.</div>
				<pre class="content">	plugin.name = <span class="hljs-string">"cerus-autoroute"</span>;</pre>
			</div>
					<div class="line" id="line217">
				<div class="number">217.</div>
				<pre class="content">	plugin.version = <span class="hljs-string">"0.2.0"</span>;</pre>
			</div>
					<div class="line" id="line218">
				<div class="number">218.</div>
				<pre class="content">	plugin.dependencies = [</pre>
			</div>
					<div class="line" id="line219">
				<div class="number">219.</div>
				<pre class="content">		<span class="hljs-string">"cerus"</span>,</pre>
			</div>
					<div class="line" id="line220">
				<div class="number">220.</div>
				<pre class="content">		<span class="hljs-string">"cerus-router"</span>,</pre>
			</div>
					<div class="line" id="line221">
				<div class="number">221.</div>
				<pre class="content">		<span class="hljs-string">"cerus-fs"</span></pre>
			</div>
					<div class="line" id="line222">
				<div class="number">222.</div>
				<pre class="content">	];</pre>
			</div>
					<div class="line" id="line223">
				<div class="number">223.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line224">
				<div class="number">224.</div>
				<pre class="content">	plugin._init = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">cerus</span>) </span>{</pre>
			</div>
					<div class="line" id="line225">
				<div class="number">225.</div>
				<pre class="content">		autoroute_ = <span class="hljs-keyword">new</span> autoroute(cerus);</pre>
			</div>
					<div class="line" id="line226">
				<div class="number">226.</div>
				<pre class="content">	};</pre>
			</div>
					<div class="line" id="line227">
				<div class="number">227.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line228">
				<div class="number">228.</div>
				<pre class="content">	plugin.autoroute = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre>
			</div>
					<div class="line" id="line229">
				<div class="number">229.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> autoroute_;</pre>
			</div>
					<div class="line" id="line230">
				<div class="number">230.</div>
				<pre class="content">	};</pre>
			</div>
					<div class="line" id="line231">
				<div class="number">231.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line232">
				<div class="number">232.</div>
				<pre class="content">	plugin.favicon = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">path</span>) </span>{</pre>
			</div>
					<div class="line" id="line233">
				<div class="number">233.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> autoroute_.favicon(path);</pre>
			</div>
					<div class="line" id="line234">
				<div class="number">234.</div>
				<pre class="content">	};</pre>
			</div>
					<div class="line" id="line235">
				<div class="number">235.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line236">
				<div class="number">236.</div>
				<pre class="content">	plugin.view = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">url, filename, ext</span>) </span>{</pre>
			</div>
					<div class="line" id="line237">
				<div class="number">237.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> autoroute_.view(url, filename, ext);</pre>
			</div>
					<div class="line" id="line238">
				<div class="number">238.</div>
				<pre class="content">	};</pre>
			</div>
					<div class="line" id="line239">
				<div class="number">239.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line240">
				<div class="number">240.</div>
				<pre class="content">	plugin.assets = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">folder, type</span>) </span>{</pre>
			</div>
					<div class="line" id="line241">
				<div class="number">241.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> autoroute_.assets(folder, type);</pre>
			</div>
					<div class="line" id="line242">
				<div class="number">242.</div>
				<pre class="content">	};</pre>
			</div>
					<div class="line" id="line243">
				<div class="number">243.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line244">
				<div class="number">244.</div>
				<pre class="content">	<span class="hljs-keyword">return</span> plugin;</pre>
			</div>
					<div class="line" id="line245">
				<div class="number">245.</div>
				<pre class="content">};</pre>
			</div>
					<div class="line" id="line246">
				<div class="number">246.</div>
				<pre class="content"></pre>
			</div>
			</div>
</div>
			</div>
		</div>
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</body>
</html>