<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
		<link href="/assets/css/stylesheet.css" rel="stylesheet">
		<link href="/assets/css/highlight.css" rel="stylesheet">
		<link href="/assets/css/markdown.css" rel="stylesheet">

		<title>The CerusJS site!</title>
	</head>
	<body>
		<div class="sidebar closed">
	<div class="header">
		<div class="logo">
			<img src="/assets/gfx/logo.png" onclick="sidebar().index()">
		</div>
	</div>
	<div class="links">
		<div id="home-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('home')">
				home				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/home/readme.html">Readme</a></li>
				<li><a class= "" href="/views/home/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
		<div id="cerus-item" class="item opened">
			<div class="item-title" onclick="sidebar().item('cerus')">
				cerus				<i class="fas fa-minus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus/changelog.html">Changelog</a></li>
				<li><a class= "selected" href="/views/cerus/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-core-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-core')">
				cerus-core				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-core/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-core/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-core/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-server-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-server')">
				cerus-server				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-server/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-server/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-server/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-router-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-router')">
				cerus-router				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-router/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-router/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-router/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-api-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-api')">
				cerus-api				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-api/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-api/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-api/reference.html">Reference</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="overlay closed" onclick="sidebar().toggle()"></div>
		<div class="content closed">
			<div class="title">
	<div class="left">
		<div class="item" onclick="sidebar().toggle()"><i class="fas fa-bars"></i></div>
	</div>
	<div class="right">
				<select class="list" onchange="title_('source', 'cerus').open(this)">
						<option value="autoroute.js.html" undefined>autoroute.js</option>
						<option value="folders.js.html" undefined>folders.js</option>
						<option value="cerus.js.html" selected>cerus.js</option>
						<option value="require.js.html" undefined>require.js</option>
						<option value="folders.js.html" undefined>folders.js</option>
					</select>
				<div class="item" onclick="title_().github()"><i class="fab fa-github"></i></div>
		<div class="item" onclick="title_().mail()"><i class="fas fa-at"></i></div>
	</div>
</div>
			<div class="inner">
				<div class="source">
	<h1>cerus.js</h1>
	<div class="lines">
					<div class="line" id="line1">
				<div class="number">1.</div>
				<pre class="content"><span class="hljs-keyword">var</span> core = <span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-core"</span>)();</pre>
			</div>
					<div class="line" id="line2">
				<div class="number">2.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line3">
				<div class="number">3.</div>
				<pre class="content"><span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line4">
				<div class="number">4.</div>
				<pre class="content"><span class="hljs-comment"> * This is the main class for the cerus module. It isn't really a class since it creates an </span></pre>
			</div>
					<div class="line" id="line5">
				<div class="number">5.</div>
				<pre class="content"><span class="hljs-comment"> * instantiation of the core class and adds some packages to it. This class also adds a root</span></pre>
			</div>
					<div class="line" id="line6">
				<div class="number">6.</div>
				<pre class="content"><span class="hljs-comment"> * function to cerus.</span></pre>
			</div>
					<div class="line" id="line7">
				<div class="number">7.</div>
				<pre class="content"><span class="hljs-comment"> * @class cerus</span></pre>
			</div>
					<div class="line" id="line8">
				<div class="number">8.</div>
				<pre class="content"><span class="hljs-comment"> */</span></pre>
			</div>
					<div class="line" id="line9">
				<div class="number">9.</div>
				<pre class="content"><span class="hljs-built_in">module</span>.exports = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre>
			</div>
					<div class="line" id="line10">
				<div class="number">10.</div>
				<pre class="content">	core.use((<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre>
			</div>
					<div class="line" id="line11">
				<div class="number">11.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> core = {};</pre>
			</div>
					<div class="line" id="line12">
				<div class="number">12.</div>
				<pre class="content">		<span class="hljs-keyword">var</span> root_ = process.cwd().replace(<span class="hljs-regexp">/\\/g</span>, <span class="hljs-string">"/"</span>) + <span class="hljs-string">"/"</span>;</pre>
			</div>
					<div class="line" id="line13">
				<div class="number">13.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line14">
				<div class="number">14.</div>
				<pre class="content">		core.name = <span class="hljs-string">"cerus"</span>;</pre>
			</div>
					<div class="line" id="line15">
				<div class="number">15.</div>
				<pre class="content">		core.version = <span class="hljs-string">"0.1.0"</span>;</pre>
			</div>
					<div class="line" id="line16">
				<div class="number">16.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line17">
				<div class="number">17.</div>
				<pre class="content">		<span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line18">
				<div class="number">18.</div>
				<pre class="content"><span class="hljs-comment">		 * This is a setter and getter for the project's root. By default this root is a fixed </span></pre>
			</div>
					<div class="line" id="line19">
				<div class="number">19.</div>
				<pre class="content"><span class="hljs-comment">		 * version of process.cwd(). The fix that is applied is replacing all '\\' with '/' to </span></pre>
			</div>
					<div class="line" id="line20">
				<div class="number">20.</div>
				<pre class="content"><span class="hljs-comment">		 * support all platforms. The default root also contains a slash at the end.</span></pre>
			</div>
					<div class="line" id="line21">
				<div class="number">21.</div>
				<pre class="content"><span class="hljs-comment">		 * You can change the root by adding the root parameter.</span></pre>
			</div>
					<div class="line" id="line22">
				<div class="number">22.</div>
				<pre class="content"><span class="hljs-comment">		 * @example</span></pre>
			</div>
					<div class="line" id="line23">
				<div class="number">23.</div>
				<pre class="content"><span class="hljs-comment">		 * // with as project env "C:\\project\\example.js"</span></pre>
			</div>
					<div class="line" id="line24">
				<div class="number">24.</div>
				<pre class="content"><span class="hljs-comment">		 * console.log(cerus.root());</span></pre>
			</div>
					<div class="line" id="line25">
				<div class="number">25.</div>
				<pre class="content"><span class="hljs-comment">		 * // -&gt; will return "C:/project/"</span></pre>
			</div>
					<div class="line" id="line26">
				<div class="number">26.</div>
				<pre class="content"><span class="hljs-comment">		 * @param {String} (root) The new path for the root.</span></pre>
			</div>
					<div class="line" id="line27">
				<div class="number">27.</div>
				<pre class="content"><span class="hljs-comment">		 * @return {String} The root path.</span></pre>
			</div>
					<div class="line" id="line28">
				<div class="number">28.</div>
				<pre class="content"><span class="hljs-comment">		 * @function root</span></pre>
			</div>
					<div class="line" id="line29">
				<div class="number">29.</div>
				<pre class="content"><span class="hljs-comment">		 */</span></pre>
			</div>
					<div class="line" id="line30">
				<div class="number">30.</div>
				<pre class="content">		core.root = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">root</span>) </span>{</pre>
			</div>
					<div class="line" id="line31">
				<div class="number">31.</div>
				<pre class="content">			<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> root === <span class="hljs-string">"string"</span>) {</pre>
			</div>
					<div class="line" id="line32">
				<div class="number">32.</div>
				<pre class="content">				root_ = root;</pre>
			</div>
					<div class="line" id="line33">
				<div class="number">33.</div>
				<pre class="content">			}</pre>
			</div>
					<div class="line" id="line34">
				<div class="number">34.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line35">
				<div class="number">35.</div>
				<pre class="content">			<span class="hljs-keyword">return</span> root_;</pre>
			</div>
					<div class="line" id="line36">
				<div class="number">36.</div>
				<pre class="content">		};</pre>
			</div>
					<div class="line" id="line37">
				<div class="number">37.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line38">
				<div class="number">38.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> core;</pre>
			</div>
					<div class="line" id="line39">
				<div class="number">39.</div>
				<pre class="content">	})());</pre>
			</div>
					<div class="line" id="line40">
				<div class="number">40.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line41">
				<div class="number">41.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-settings"</span>)()); <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> Needs to be removed (but is still depended on in cerus-api)</span></pre>
			</div>
					<div class="line" id="line42">
				<div class="number">42.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line43">
				<div class="number">43.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-promise"</span>)());</pre>
			</div>
					<div class="line" id="line44">
				<div class="number">44.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-server"</span>)());</pre>
			</div>
					<div class="line" id="line45">
				<div class="number">45.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-fs"</span>)());</pre>
			</div>
					<div class="line" id="line46">
				<div class="number">46.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-compression"</span>)());</pre>
			</div>
					<div class="line" id="line47">
				<div class="number">47.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-router"</span>)());</pre>
			</div>
					<div class="line" id="line48">
				<div class="number">48.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"cerus-api"</span>)());</pre>
			</div>
					<div class="line" id="line49">
				<div class="number">49.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line50">
				<div class="number">50.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"./autoroute"</span>)());</pre>
			</div>
					<div class="line" id="line51">
				<div class="number">51.</div>
				<pre class="content">	core.use(<span class="hljs-built_in">require</span>(<span class="hljs-string">"./require"</span>)());</pre>
			</div>
					<div class="line" id="line52">
				<div class="number">52.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line53">
				<div class="number">53.</div>
				<pre class="content">	<span class="hljs-keyword">return</span> core;</pre>
			</div>
					<div class="line" id="line54">
				<div class="number">54.</div>
				<pre class="content">};</pre>
			</div>
					<div class="line" id="line55">
				<div class="number">55.</div>
				<pre class="content"></pre>
			</div>
			</div>
</div>
			</div>
		</div>
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</body>
</html>