<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
		<link href="/assets/css/stylesheet.css" rel="stylesheet">
		<link href="/assets/css/highlight.css" rel="stylesheet">
		<link href="/assets/css/markdown.css" rel="stylesheet">

		<title>CerusJS Documentation</title>
	</head>
	<body>
		<div class="sidebar closed">
	<div class="header">
		<div class="logo">
			<img src="/assets/gfx/logo.png" onclick="sidebar().index()">
		</div>
	</div>
	<div class="links">
		<div id="home-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('home')">
				home				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/home/readme.html">Readme</a></li>
				<li><a class= "" href="/views/home/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
		<div id="cerus-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus')">
				cerus				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-core-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-core')">
				cerus-core				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-core/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-core/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-core/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-server-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-server')">
				cerus-server				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-server/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-server/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-server/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-router-item" class="item opened">
			<div class="item-title" onclick="sidebar().item('cerus-router')">
				cerus-router				<i class="fas fa-minus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "selected" href="/views/cerus-router/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-router/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-router/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-api-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-api')">
				cerus-api				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-api/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-api/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-api/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-promise-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-promise')">
				cerus-promise				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-promise/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-promise/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-promise/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-database-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-database')">
				cerus-database				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-database/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-database/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-database/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-compression-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-compression')">
				cerus-compression				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-compression/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-compression/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-compression/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="docs-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('docs')">
				docs				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/docs/readme.html">Readme</a></li>
				<li><a class= "" href="/views/docs/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="overlay closed" onclick="sidebar().toggle()"></div>
		<div class="content closed">
			<div class="title">
	<div class="left">
		<div class="item" onclick="sidebar().toggle()"><i class="fas fa-bars"></i></div>
	</div>
	<div class="right">
				<div class="item" onclick="title_().github()"><i class="fab fa-github"></i></div>
		<div class="item" onclick="title_().mail()"><i class="fas fa-at"></i></div>
	</div>
</div>
			<div class="inner">
				<div class="markdown-body">
	<p>cerus-router</p>

</div>
			</div>
		</div>
		<div id="scrollTop" class="scroll">
			<div class="scroll-image"></div>
		</div>
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</body>
</html>