<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
		<link href="/assets/css/stylesheet.css" rel="stylesheet">
		<link href="/assets/css/highlight.css" rel="stylesheet">
		<link href="/assets/css/markdown.css" rel="stylesheet">

		<title>CerusJS Documentation</title>
	</head>
	<body>
		<div class="sidebar closed">
	<div class="header">
		<div class="logo">
			<img src="/assets/gfx/logo.png" onclick="sidebar().index()">
		</div>
	</div>
	<div class="links">
		<div id="home-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('home')">
				home				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/home/readme.html">Readme</a></li>
				<li><a class= "" href="/views/home/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
		<div id="cerus-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus')">
				cerus				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-core-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-core')">
				cerus-core				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-core/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-core/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-core/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-server-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-server')">
				cerus-server				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-server/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-server/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-server/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-router-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-router')">
				cerus-router				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-router/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-router/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-router/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-api-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-api')">
				cerus-api				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-api/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-api/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-api/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-database-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-database')">
				cerus-database				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-database/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-database/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-database/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-compression-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('cerus-compression')">
				cerus-compression				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-compression/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-compression/changelog.html">Changelog</a></li>
				<li><a class= "" href="/views/cerus-compression/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="cerus-promise-item" class="item opened">
			<div class="item-title" onclick="sidebar().item('cerus-promise')">
				cerus-promise				<i class="fas fa-minus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/cerus-promise/readme.html">Readme</a></li>
				<li><a class= "" href="/views/cerus-promise/changelog.html">Changelog</a></li>
				<li><a class= "selected" href="/views/cerus-promise/reference.html">Reference</a></li>
			</ul>
		</div>
		<div id="docs-item" class="item closed">
			<div class="item-title" onclick="sidebar().item('docs')">
				docs				<i class="fas fa-plus"></i>
			</div>
			<ul class="item-links">
				<li><a class= "" href="/views/docs/readme.html">Readme</a></li>
				<li><a class= "" href="/views/docs/tutorials.html">Tutorials</a></li>
			</ul>
		</div>
	</div>
</div>
		<div class="overlay closed" onclick="sidebar().toggle()"></div>
		<div class="content closed">
			<div class="title">
	<div class="left">
		<div class="item" onclick="sidebar().toggle()"><i class="fas fa-bars"></i></div>
	</div>
	<div class="right">
				<select class="list" onchange="title_('source', 'cerus-promise').open(this)">
						<option value="index.js.html" selected>index.js</option>
						<option value="lib/promise.js.html" undefined>lib/promise.js</option>
					</select>
				<div class="item" onclick="title_().github()"><i class="fab fa-github"></i></div>
		<div class="item" onclick="title_().mail()"><i class="fas fa-at"></i></div>
	</div>
</div>
			<div class="inner">
				<div class="source">
	<h1>index.js</h1>
	<div class="lines">
					<div class="line" id="line1">
				<div class="number">1.</div>
				<pre class="content"><span class="hljs-built_in">module</span>.exports = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{</pre>
			</div>
					<div class="line" id="line2">
				<div class="number">2.</div>
				<pre class="content">	<span class="hljs-keyword">var</span> plugin = {};</pre>
			</div>
					<div class="line" id="line3">
				<div class="number">3.</div>
				<pre class="content">	<span class="hljs-keyword">var</span> package = <span class="hljs-built_in">require</span>(<span class="hljs-string">"./package.json"</span>);</pre>
			</div>
					<div class="line" id="line4">
				<div class="number">4.</div>
				<pre class="content">	<span class="hljs-keyword">var</span> promise = <span class="hljs-built_in">require</span>(<span class="hljs-string">"./lib/promise"</span>);</pre>
			</div>
					<div class="line" id="line5">
				<div class="number">5.</div>
				<pre class="content">	</pre>
			</div>
					<div class="line" id="line6">
				<div class="number">6.</div>
				<pre class="content">	plugin.name = package[<span class="hljs-string">"name"</span>];</pre>
			</div>
					<div class="line" id="line7">
				<div class="number">7.</div>
				<pre class="content">	plugin.version = package[<span class="hljs-string">"version"</span>];</pre>
			</div>
					<div class="line" id="line8">
				<div class="number">8.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line9">
				<div class="number">9.</div>
				<pre class="content">	plugin.promise = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">func</span>) </span>{</pre>
			</div>
					<div class="line" id="line10">
				<div class="number">10.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> promise(func);</pre>
			</div>
					<div class="line" id="line11">
				<div class="number">11.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line12">
				<div class="number">12.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line13">
				<div class="number">13.</div>
				<pre class="content">	<span class="hljs-comment">/**</span></pre>
			</div>
					<div class="line" id="line14">
				<div class="number">14.</div>
				<pre class="content"><span class="hljs-comment">	 * Using this function you can easily promisify a function. Supply the function you want to </span></pre>
			</div>
					<div class="line" id="line15">
				<div class="number">15.</div>
				<pre class="content"><span class="hljs-comment">	 * promisify as first argument and when you call the function that is returned from this </span></pre>
			</div>
					<div class="line" id="line16">
				<div class="number">16.</div>
				<pre class="content"><span class="hljs-comment">	 * function using the arguments you would have normally used, it'll return a promise. When the </span></pre>
			</div>
					<div class="line" id="line17">
				<div class="number">17.</div>
				<pre class="content"><span class="hljs-comment">	 * function is finished it'll resolve the promise, but when the first parameter in the callback</span></pre>
			</div>
					<div class="line" id="line18">
				<div class="number">18.</div>
				<pre class="content"><span class="hljs-comment">	 * function is an error it'll throw an error.&lt;br&gt;</span></pre>
			</div>
					<div class="line" id="line19">
				<div class="number">19.</div>
				<pre class="content"><span class="hljs-comment">	 * [Click me](/views/cerus-promise/reference/promise.html) for the documentation about the </span></pre>
			</div>
					<div class="line" id="line20">
				<div class="number">20.</div>
				<pre class="content"><span class="hljs-comment">	 * promise class.</span></pre>
			</div>
					<div class="line" id="line21">
				<div class="number">21.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {Function} func The function to promisify.</span></pre>
			</div>
					<div class="line" id="line22">
				<div class="number">22.</div>
				<pre class="content"><span class="hljs-comment">	 * @param {Object} (bindings = this) The object to bind to the function call.</span></pre>
			</div>
					<div class="line" id="line23">
				<div class="number">23.</div>
				<pre class="content"><span class="hljs-comment">	 * @returns {Function} The promisified version of the original function.</span></pre>
			</div>
					<div class="line" id="line24">
				<div class="number">24.</div>
				<pre class="content"><span class="hljs-comment">	 * @class promisify</span></pre>
			</div>
					<div class="line" id="line25">
				<div class="number">25.</div>
				<pre class="content"><span class="hljs-comment">	 */</span></pre>
			</div>
					<div class="line" id="line26">
				<div class="number">26.</div>
				<pre class="content">	plugin.promisify = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">func, bindings</span>) </span>{</pre>
			</div>
					<div class="line" id="line27">
				<div class="number">27.</div>
				<pre class="content">		<span class="hljs-keyword">if</span>(<span class="hljs-keyword">typeof</span> func !== <span class="hljs-string">"function"</span>) {</pre>
			</div>
					<div class="line" id="line28">
				<div class="number">28.</div>
				<pre class="content">			<span class="hljs-keyword">throw</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">TypeError</span>(<span class="hljs-string">"The argument func must be a function"</span>);</pre>
			</div>
					<div class="line" id="line29">
				<div class="number">29.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line30">
				<div class="number">30.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line31">
				<div class="number">31.</div>
				<pre class="content">		<span class="hljs-keyword">return</span> <span class="hljs-function">(<span class="hljs-params">...args</span>) =&gt;</span> {</pre>
			</div>
					<div class="line" id="line32">
				<div class="number">32.</div>
				<pre class="content">			<span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> promise(<span class="hljs-function"><span class="hljs-params">event</span> =&gt;</span> {</pre>
			</div>
					<div class="line" id="line33">
				<div class="number">33.</div>
				<pre class="content">				func.call(bindings || <span class="hljs-keyword">this</span>, ...args, (err, ...values) =&gt; {</pre>
			</div>
					<div class="line" id="line34">
				<div class="number">34.</div>
				<pre class="content">					<span class="hljs-keyword">if</span>(err <span class="hljs-keyword">instanceof</span> <span class="hljs-built_in">Error</span>) {</pre>
			</div>
					<div class="line" id="line35">
				<div class="number">35.</div>
				<pre class="content">						<span class="hljs-keyword">return</span> event(<span class="hljs-string">"error"</span>, err);</pre>
			</div>
					<div class="line" id="line36">
				<div class="number">36.</div>
				<pre class="content">					}</pre>
			</div>
					<div class="line" id="line37">
				<div class="number">37.</div>
				<pre class="content">					<span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span>(err !== <span class="hljs-literal">null</span>) {</pre>
			</div>
					<div class="line" id="line38">
				<div class="number">38.</div>
				<pre class="content">						values.unshift(err);</pre>
			</div>
					<div class="line" id="line39">
				<div class="number">39.</div>
				<pre class="content">					}</pre>
			</div>
					<div class="line" id="line40">
				<div class="number">40.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line41">
				<div class="number">41.</div>
				<pre class="content">					event(<span class="hljs-string">"success"</span>, ...values);</pre>
			</div>
					<div class="line" id="line42">
				<div class="number">42.</div>
				<pre class="content">				});</pre>
			</div>
					<div class="line" id="line43">
				<div class="number">43.</div>
				<pre class="content">			});</pre>
			</div>
					<div class="line" id="line44">
				<div class="number">44.</div>
				<pre class="content">		}</pre>
			</div>
					<div class="line" id="line45">
				<div class="number">45.</div>
				<pre class="content">	}</pre>
			</div>
					<div class="line" id="line46">
				<div class="number">46.</div>
				<pre class="content"></pre>
			</div>
					<div class="line" id="line47">
				<div class="number">47.</div>
				<pre class="content">	<span class="hljs-keyword">return</span> plugin;</pre>
			</div>
					<div class="line" id="line48">
				<div class="number">48.</div>
				<pre class="content">}</pre>
			</div>
			</div>
</div>
			</div>
		</div>
		<div id="scrollTop" class="scroll">
			<div class="scroll-image"></div>
		</div>
		<script type="text/javascript" src="/assets/js/script.js"></script>
	</body>
</html>